@font-face{
   font-family: 'font-burgur'; 
   src: url(Ketchup\ Manis\ Demo.ttf);
}
h1{
    text-align:center;
    font-size: 400%;
    font-family:font-burgur;
    color: rgb(203, 10, 10);
   margin-top: 20%;
   background-image: url(burgur3.jpg);
}

.cls{
    background-color: rgba(6, 117, 228, 0.789);
    size: 10%;

    
}

body{
    background-color:rgba(201, 119, 19, 0.479);
    size: 10%;
    background-image: url(burgur3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     
}

.btns{
    margin-left: 80%;
}
.remo{
    width:45%;
    margin: 10%;
}
.cust{
    width:65% ;
}
.repo{
    width: 45%;
    margin: 10%;
}
.home1{
  width: 66%;
  }
.home{
    background-color:rgba(238, 177, 65, 0.674);
    background-size: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 10%;
    background-repeat: no-repeat;
   
    
}
table{
    background-size: 100cap;

}
thead{
    text-align: center;

}

   

footer {
    background-color: #d46f16;
    color: #efebe9;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #f3e9e4;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  .btns{
    cursor: pointer;
  }

.home1:hover{
  
}
.cust:hover{
 
}
.remo:hover{

}
.repo:hover{


}

.home1:active{
  
}
.cust:active{

}
.remo:active{

}
.repo:active{

  
}

button{
  background-color: #d46f16;
  margin-right: 90%;
}